In [1]:
import csv
import pandas as pd
import numpy as np
from collections import defaultdict

In [2]:
df_Dino = pd.read_csv("Input Data/detections_CME.csv", header = None)
M_Dino = df_Dino.to_numpy()
M_Dino[:, 4] = M_Dino[:, 4]-1

df_CME = pd.read_csv("Input Data/detections_Dino.csv")
df_CME = df_CME[["timepoint","label_id","x","y","z","intensity","max_intensity"]]
df_CME = df_CME.drop("max_intensity", axis=1)
M_CME = df_CME.to_numpy()
M_CME[:, 0] += 1

comp_list = np.zeros((len(M_CME),15), dtype=object)

In [3]:
t_vec = defaultdict(list)
threshold = 5
multi_match_list = []
for vec_Dino in M_Dino:
    t_vec[vec_Dino[0]].append(vec_Dino)

for t_val in t_vec:
    t_vec[t_val] = np.array(t_vec[t_val])

for i, vec_CME in enumerate(M_CME):
    t_val = vec_CME[0]
    dino_group = t_vec[t_val]
    diffs = dino_group[:, 2:5] - vec_CME[2:5]
    dists = np.linalg.norm(diffs, axis=1)
    min_idx = np.argmin(dists)
    min_dist = dists[min_idx]
    best_vec_Dino = dino_group[min_idx]
    comp_list[i, 0:6] = vec_CME
    comp_list[i, 6:12] = best_vec_Dino
    comp_list[i, 12] = min_dist

    # New list by threshold
    below = np.where(dists < threshold)[0]
    if len(below) > 0:
        dino_ids = ",".join(str(int(x)) for x in dino_group[below, 1])
        dists_str = ",".join(f"{dists[j]:.2f}" for j in below)
    else:
        dino_ids = ""
        dists_str = ""
    comp_list[i, 13] = dino_ids
    comp_list[i, 14] = dists_str

multi_match_array = np.array(multi_match_list, dtype=object)

In [4]:
df_comp = pd.DataFrame(comp_list, columns = ["t","ID (CME)", "x (CME)", "y (CME)", 
                                             "z (CME)", "FI (CME)", "t_ig", "ID (Dino)", 
                                             "x (Dino)", "y (Dino)", "z (Dino)", 
                                             "FI (Dino)", "Distance", "Multi ID (Dino)", "Multi Distance (Dino)"])

#df_comp = df_comp.drop("t_ig", axis=1)
df_sorted = df_comp.sort_values(by=["ID (CME)","t"], ascending=[True, True])

In [5]:
df_sorted.to_csv("Output Data/DetectionComparison.csv", index=False)

In [6]:

display(df_comp[df_comp["Distance"]<3.5])

,t,ID (CME),x (CME),y (CME),z (CME),FI (CME),t_ig,ID (Dino),x (Dino),y (Dino),z (Dino),FI (Dino),Distance,Multi ID (Dino),Multi Distance (Dino)
31,1.0,31.0,280.52945,209.67505,4.944871,317.5,1.0,2.0,280.94,212.13,7.2465,112.15,3.390107,2,3.39
32,1.0,32.0,356.40417,330.43152,4.928988,340.8,1.0,4.0,357.68,331.89,5.159,136.17,1.951361,4,1.95
39,1.0,39.0,330.5382,482.55966,5.861289,337.8,1.0,3.0,331.34,483.79,5.2459,103.52,1.59227,3,1.59
51,1.0,51.0,345.08966,510.57767,5.49747,336.0,1.0,12.0,345.96,510.69,7.721,85.026,2.390438,12,2.39
52,1.0,52.0,274.48068,524.2118,5.474521,325.2,1.0,1.0,274.71,525.42,3.6937,97.04,2.164176,1,2.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178198,99.0,982.0,771.06696,243.35165,162.0648,236.1,99.0,905.0,772.86,242.6,161.03,75.869,2.202449,905,2.20
178205,99.0,989.0,506.50424,638.70886,161.38647,348.5,99.0,923.0,507.57,640.18,158.75,109.08,3.201729,923,3.20
178213,99.0,997.0,680.9196,53.064266,160.60693,261.8,99.0,936.0,681.59,54.487,161.18,106.06,1.673923,936,1.67
178218,99.0,1002.0,607.03326,383.2,162.14659,226.9,99.0,940.0,609.67,382.67,162.69,62.851,2.743828,940,2.74
178239,99.0,1023.0,606.8961,206.11389,163.66061,414.2,99.0,935.0,608.16,206.05,161.16,304.11,2.802602,935,2.80